@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Gloria+Hallelujah&family=Ubuntu:wght@300;400&display=swap");

/* font-family: 'Comforter', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Ubuntu', sans-serif; */
.container-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideFromTopToDown 2s;
}

@keyframes slideFromTopToDown {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0px);
  }
}

.logo h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 60px;
  color: #fff;
}

.logo p {
  color: #fff;
  margin-top: 14px;
  margin-bottom: 34px;
  font-size: 19px;
  width: 14em;
  margin-right: auto;
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(60, end);
}
.logo p:nth-child(2) {
  animation: type2 8s steps(60, end);
}
.pipe {
  animation: blink 1s infinite;
}
@keyframes type {
  from {
    width: 0;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
.area-input {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideY 2s;
}

@keyframes slideY {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateY(0px);
  }
}

.area-input div {
  width: 100%;
  height: 46px;
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-input svg {
  margin: 0 8px;
}

.area-input input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  height: 46px;
  margin-right: 16px;
  color: #fff;
  font-size: 18px;
}

.area-input input::placeholder {
  color: rgb(255, 255, 255, 0.8);
}

.area-input button {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  transition: transform 0.7s;
}
.area-input button:hover {
  transform: scale(1.05);
}

@media (max-width: 725px) {
  .logo img {
    width: 95px;
  }
  .logo h1 {
    font-size: 40px;
  }
  .logo span {
    font-size: 16px;
  }
  .area-input {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 65px;
  }
  .logo h1 {
    font-size: 30px;
  }
  .logo span {
    font-size: 16px;
  }
  .area-input {
    width: 55%;
  }
}
